{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <main>
        <div class="project-detail">
            <div>
                <div class="taskdetailheader taskdetailheader-container">
                    <div>
                        <ul>
                            <li>
                                <p>Status</p>
                                <p>{{ task.status }}</p>
                            </li>
                            <li>
                                <p>Assignee</p>
                                <p>{{ task.assignee }}</p>
                            </li>
                            <li>
                                <p>Priority</p>
                                <p>{{ task.priority }}</p>
                            </li>
                            <li>
                                <p>Project</p>
                                <p>{{ task.project }}</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <p>Start date</p>
                                <p>{{ task.start_date|date:"M d, Y" }}</p>
                            </li>
                            <li>
                                <p>Due date</p>
                                <p>{{ task.due_date|date:"M d, Y" }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <h1>{{ task.name }}</h1>
            <p>
                <a href="{% url 'update_task' task.id %}">Edit Task</a>
            </p>
            <div>



            </div>

            <div>
                {% if task.notes %}
                    <h2>Notes:</h2>
                    <p>{{ task.notes|markdownify }}</p>
                {% else %}
                    <h2>Notes:</h2>
                    <p>There are no notes on this task yet</p>
                {% endif %}
            </div>
            <div>
                <h2>Comments</h2>
                <form method="post" action="{% url 'post_comment' task.id %}">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                        {% comment %}
                        This is a way to hardcode the {{comment_form.as_p}} so "Body" label doesn't show on page to user
                        <p>
                        <label for="id_body"></label>
                        <textarea name="body" cols="120" rows="4" required id="id_body"></textarea>
                        </p>
                        {% endcomment %}
                    <button>Post Comment</button>
                </form>
                <div class="all-comments-container">
                    {% for comment in task.comments.all %}
                        <div class="comment-header">
                            <div class="comment-commenter">{{ comment.commenter }}</div>
                            <div class="comment-created">{{ comment.created_on|date:"F j, Y" }} at {{ comment.created_on|time:"g:i a" }}</div>
                        </div>
                        <p class="comment-body">{{ comment.body }}</p>
                    {% empty %}
                        <p>No comments yet</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}