{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            <div>
                <form action="{% url 'search_task' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name">
                    {% comment %} <input type="submit" name="submit" value="Search"> {% endcomment %}
                    <button type="submit">Search</button>
                </form>
                {% comment %} {% for result in results %}
                    <p>
                        <a href="{% url 'show_task' result.id %}">{{ result.name }}</a>
                    </p>
                {% endfor %} {% endcomment %}
            </div>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if task_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is Closed</th>
                            <th>Date Closed</th>
                            <th>Status</th>
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_task' task.id %}">{{ task.name }}</a>
                                </td>
                                <td>{{ task.project }}</td>
                                <td>{{ task.start_date|date:"M d, Y" }}</td>
                                <td>{{ task.due_date|date:"M d, Y" }}</td>
                                <td>
                                    {% if task.is_completed %}
                                        Closed
                                    {% else %}
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Close</button>
                                        </form>
                                    {% endif %}
                                </td>
                                <td>{{ task.date_completed|date:"M d, Y"|default_if_none:"" }}</td>
                                {% comment %} <td>{{ task.status }}</td> {% endcomment %}
                                <td>
                                    <form method="post" action="{% url 'update_status' task.id %}">
                                        {% csrf_token %}
                                        <select name="updated_status">
                                        {% for choice in STATUS_CHOICES %}
                                            {% if choice.0 == task.status %}
                                                <option value="{{ choice.0 }}" selected>{{ choice.0 }}</option>
                                            {% else %}
                                                <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                        <button type="submit">Update</button>
                                    </form>
                                </td>
                                <td>{{ task.priority }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}