{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks - Search Results for: "{{ query_name }}"</h1>
            <div>
                <form action="{% url 'search_task' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name">
                    {% comment %} <input type="submit" name="submit" value="Search"> {% endcomment %}
                    <button type="submit">Search</button>
                </form>
            </div>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if results %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is Completed</th>
                            <th>Date Completed</th>
                            <th>Status</th>
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_task' result.id %}">{{ result.name }}</a>
                                </td>
                                <td>{{ result.project }}</td>
                                <td>{{ result.start_date|date:"M d, Y" }}</td>
                                <td>{{ result.due_date|date:"M d, Y" }}</td>
                                <td>
                                    {% if result.is_completed %}
                                        Done
                                    {% else %}
                                        <form method="post" action="{% url 'complete_task' result.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                    {% endif %}
                                </td>
                                <td>{{ result.date_completed|date:"M d, Y"|default_if_none:"" }}</td>
                                {% comment %} <td>{{ task.status }}</td> {% endcomment %}
                                <td>
                                    <form method="post" action="{% url 'update_status' result.id %}">
                                        {% csrf_token %}
                                        <select name="updated_status">
                                        {% for choice in STATUS_CHOICES %}
                                            {% if choice.0 == result.status %}
                                                <option value="{{ choice.0 }}" selected>{{ choice.0 }}</option>
                                            {% else %}
                                                <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                        <button type="submit">Update</button>
                                    </form>
                                </td>
                                <td>{{ result.priority }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>There are no Tasks that match your search</h3>
            {% endif %}
        </div>
    </main>
{% endblock content %}