{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project.name }}</h1>
            {% if project.tasks.all %}
                {% if project_completion_status %}
                    <h2>FINISHED - <span>100% Complete</span></h2>

                {% else %}
                    <h2>ONGOING - <span>{% widthratio completed_tasks project.tasks.all|length 100 %}% Complete</span></h2>

                {% endif %}
            {% else %}
                <h2>IN PLANNING</h2>
            {% endif %}

            <p>{{ project.description|markdownify }}</p>
            <h2>Team Members</h2>
            <ul>
                {% for member in project.members.all %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td><a href="{% url 'show_task' task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:"M d, Y" }}</td>
                                <td>{{ task.due_date|date:"M d, Y" }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}