{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <div>
                <form action="{% url 'search_project' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name">
                    {% comment %} <input type="submit" name="submit" value="Search"> {% endcomment %}
                    <button type="submit">Search</button>
                </form>
                {% comment %} {% for result in results %}
                    <p>
                        <a href="{% url 'show_project' result.id %}">{{ result.name }}</a>
                    </p>
                {% endfor %} {% endcomment %}
            </div>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {% if project_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                            <th>Completion %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                                {% comment %} <td>{{ completion_rate_per_project[project.id] }}</td> {% endcomment %}
                                {% comment %} <td>
                                    {% for key, value in completion_rate_per_project.items %}
                                        {% if key == project.id %}
                                            {{ value }}
                                        {% endif %}
                                    {% endfor %}
                                </td> {% endcomment %}
                                <td>
                                    {% for key, value in completed_tasks_per_project.items %}
                                        {% if key == project.id %}
                                            {% widthratio value project.tasks.all|length 100 %}%
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}