{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects - Search Results for: "{{ query_name }}"</h1>
            <div>
                <form action="{% url 'search_project' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name">
                    {% comment %} <input type="submit" name="submit" value="Search"> {% endcomment %}
                    <button type="submit">Search</button>
                </form>
            </div>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {% if results %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                            <th>Completion %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' result.id %}">{{ result.name }}</a>
                                </td>
                                <td>{{ result.tasks.all|length }}</td>
                                {% comment %} <td>{{ project_completion_rate }}</td> {% endcomment %}
                                <td>
                                    {% for key, value in completed_tasks_per_project.items %}
                                        {% if key == result.id %}
                                            {% widthratio value result.tasks.all|length 100 %}%
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>There are no Projects that match your search</h3>
            {% endif %}
        </div>
    </main>
{% endblock content %}